---
import "../styles/global.css"
import "../styles/components.css"
---

<section>
    <h1 class="footerLogo">AskExperts</h1>
    <div></div>
    <p class="creatorTag">©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</section>

<style>
    .creatorTag{
        color: var(--white-color);
    }

    .footerLogo{
        font-size: var(--h5-size);
    }

    section {
        background-color: var(--black-color);
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: var(--footer-margin);
    }
    /* div{
        content:" ";
        border: 1px solid rgb(96, 96, 96);
        max-width: 1200px;
        margin-top: 10px;
        margin-bottom: 10px;
    } */




</style>